$whiteColor:white ;
$flexDisplay: flex;



* {
    outline: none;
}


.fontSize {
    font-size: 12px;
} 


.borderRadius {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.message {
    padding:.5em;
    margin-bottom: 10px;
    border-radius:.5em;
    cursor: context-menu;
    display: $flexDisplay;
    flex-direction: column;
}



// .........................................messenger........................................
// ..........................................................................................



.chat {
    display: $flexDisplay;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-image: linear-gradient(to left, #004fb4 , #04adfa);

    &::-webkit-scrollbar {
        display: none;
    }
}



// ....................................conversation list.....................................
// ..........................................................................................

.page {
    margin: 23px 0px 23px 23px;
}


.conversation-list {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    height: 94vh;
    flex-grow: 0;
    display: $flexDisplay;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    color: $whiteColor;
    font:13px "Open Sans", sans-serif;
    width: 355px;
    position: relative;
}


.contact-list {
    overflow-y: hidden;
    flex-grow: 10;
    height: 0;

    &:hover {
        overflow-y: auto;
    }
      
      
    &::-webkit-scrollbar {
        width: 5px;

        &-track {
            box-shadow: inset 0 0 2px grey; 
            border-radius: 15px;
        }
            
        &-thumb {
            background: #061c30; 
            border-radius: 15px;

            &:hover {
                background: #437caf; 
            }
        }
    }
}



// .........................................profile..........................................
// ..........................................................................................


.profile {
    display: $flexDisplay;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    position: relative;
    flex-grow: 0;
    @extend .borderRadius ;

    img {
        width: 100px;
        overflow: hidden;
        border: 2px solid $whiteColor{
            radius: 50%;
        }
    }

    &>div {
        display: $flexDisplay;
        flex-direction: column;
        margin-left: 10px;
    }
}


.appBar {
    background: rgba(0, 0, 0, 0.43) !important;
    @extend .borderRadius ;
}
  

.MuiAppBar-positionFixed {
    top: 0;
    left: auto;
    right: 0;
    position: inherit !important;
}


.MuiDrawer-paperAnchorDockedLeft {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #61b1d9 !important;
    height: 94vh !important;
    position: absolute !important;
}


.search {
    position: relative;
    top: 4px;
    left: -6px;

    input {
        background: rgb(195, 213, 222);
        transition: width 0.4s ease-in-out;
        margin: 0px 0px 5px 12px;
        width: 75%;

        padding: 7px {
            left: 30px;
        }

        border: none {
            radius: 10px;
        }
    }
}


.searchInConversationList {
    font-size: 1.3rem !important;
    position: absolute;
    top: 5px;
    left: 18px;
    color: #012545;
}


.addStyle {
    width: 35px !important;
    height: 29px !important;
    position: absolute !important;
    background: #026493 !important;
    right: 14px;
}


.profileBarMenu {
    display: $flexDisplay;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}


.profileStyles {
    display: $flexDisplay;
    flex-direction: column;
    padding-left: 10px;

    span {
        @extend .fontSize
    }
}
  

.MuiFab-sizeSmall {
    width: 37px !important;
    height: 37px !important;
}


.editIcon {
    color: #012545;
    font-size: 1.3rem !important;
    border-radius: 50%;
    background: $whiteColor;
    padding: 6px;
    cursor: pointer;
}


.itemIcon {
    margin-right: 15px;
}

.settingIcon {
    // font-size: 16px !important;
    padding-left: 15px;
    padding-right: 8px;
}


.links {
    text-decoration: none;
    color: black;
}


.modalStyle {
    display: $flexDisplay;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}


.editModal {
    // background: #a27ec9;
    background: #5893b2;
    display: $flexDisplay;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
    border-radius: 20px;
    margin-left: 23px;
    position: relative;

    span {
        color: #3f1968;
        margin-bottom: 25px;

        font: {
            size: 23px;
            family: cursive;
        }
    }


    p {
        color: #810505;
        font-size: 13px;
    }


    button {
        background: #3f1968;
        color: $whiteColor;
        padding: 10px 66px;
        margin-top: 37px;
        cursor: pointer;

        border: none {
            radius: 20px;
        }
    }
}


.searchDiv {
    background: #d6c0ee;
    text-align: center;
    margin-bottom: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    min-width: 24vh;

    p {
        color: #3f1968;
        cursor: pointer;
        font-size: 12px;

        &:hover {
            background: #ab8dcc;
        }
    }

  }


.MuiInput-underline:after {
    border-bottom: 2px solid #3f1968 !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #3f1968 !important;
}


//......................................Setting Modal......................................
//.........................................................................................


.backgoundImgDiv {
    width: 48vh;
    height: 38vh;
    overflow-y: hidden;
    padding-left: 10px;

    img {
        width: 20vh;
        height: 15vh;
        margin: 13px;
        border-radius: 7px;
        cursor: pointer;
    }

    &:hover {
        overflow-y: auto;
    }


    &::-webkit-scrollbar {
        width: 5px;

        &-track {
            box-shadow: inset 0 0 2px grey; 
            border-radius: 15px;
        }

        &-thumb {
            background: #061c30; 
            border-radius: 15px;

            &:hover {
                background: #437caf; 
            }
        }
    }
}

  
// ......................................conversation........................................
// .......................................................................................... 


.conversation {
    display: $flexDisplay;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    padding: 10px {
        right: 15px;
    }


    img {
        width: 12px;
        flex-grow: 1;
        overflow: hidden;

        border: 2px solid $whiteColor {
            radius: 50%;
        }
    }  

    &>div {
        display: $flexDisplay;
        justify-content: space-around;
        padding-left: 15px;
        width: 90px;

        flex: {
            grow: 4;
            direction: column;
        }
    }

    
    &:hover {
        background: #01335061
    }
}


.name-date {
    display: $flexDisplay;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 0 0;
    padding: 0 0 1px;
}


.preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 17em;
    @extend .fontSize ;
}


#user {
    display: none
}
  
  
.unseen {
    background-color: red;
    width: 17px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
  
  


// .............................conversation list footer.....................................
// .......................................................................................... 
  
.MuiTab-fullWidth {
    max-width: none;
    background: #012646 !important;
    font-size: 10px !important;
    color:$whiteColor !important;
    padding: 0;

    flex: {
        grow: 1;
        basis: 0;
        shrink: 1;
    }
}


.MuiTabs-fixed {
    width: 100%;
    overflow-x: hidden;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}


.MuiTab-labelIcon {
    min-height: 0px !important;
}


.MuiTab-textColorSecondary.Mui-selected {
    color: #f50057 !important;
}  




//.............................................Modals.............................................
//..............................................................................................
  
  

.editTextField {
    margin-top: 15px !important;
}

.addPhoto {
    position: absolute !important;
    bottom: 17vh;
    left: 6vh;
    opacity: 0;
    cursor: pointer !important;
}


.editButton {
    background: #3f1968;
    color: $whiteColor;
    padding: 10px 66px;
    margin-top: 37px;
    cursor: pointer;

    border: none {
        radius: 20px;
    }
}



//................................................chat screen..............................................
//..........................................................................................................


.chat-screen {
    height: 94vh;
    display: $flexDisplay;
    justify-content: space-around;
    border-radius: 15px;
    width: 165px;
    position: relative;
    margin: 23px 23px 23px 10px;

    flex: {
        grow: 15;
        direction: column;
    }
}




//.............................................contact profile..............................................
//..........................................................................................................
  

.status {
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.55);
    display: $flexDisplay;
    align-items: center;
    height: 6vh;
    justify-content: flex-start;
    color: $whiteColor;
    padding-left: 15px;
    font: 14px "Open Sans", sans-serif;
    position: relative;
    @extend .borderRadius ;

    img {
        width: 50px;
        margin-right: 5px;
        overflow: hidden;

        border: 2px solid $whiteColor {
            radius: 50%;
        }
    }

    &>div {
        display: $flexDisplay;
        flex-direction: column;
        margin-left: 10px;
    }
}


.searchInChat {
    position: relative;
    top: 3px;
    left: -7px;

    input {
        opacity: 0;
        background: rgba(0, 0, 0, 0.43);
        color: $whiteColor;
        width: 0%;
        transition: width 0.4s ease-in-out;

        border: none {
            radius: 15px;
        }

        padding: 3px {
            left: 30px;
        }

        &::placeholder {
            color: $whiteColor; 
        } 
    } 
}


.profileBar {
    position: absolute ;
    // right: 50px ;
    cursor: pointer;
    top: 11px;
    right: 22px;
}

.contactProfileDiv {
    display: flex;
    flex-direction: column;

    span {
        font-size: 17px;
        margin-bottom: 10px;
    }

    img {
        width: 20vh;
        margin: 10px 30px 30px 30px;
        align-self: center;
        border-radius: 50%;
    }
  }


.searchIcon {
    font-size: 1.1rem !important;
    position: absolute;
    top: 2px;
    left: 5px;
}
  
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    background-color: #61b1d9 !important;
}


.MuiMenu-paper {
    top: 40px !important;
    right: 45px !important;
    left: unset !important;
}

.MuiAppBar-colorPrimary {
    background-color: #012646 !important;
}
  
//.................................................messages.................................................
//..........................................................................................................  
  

.chat-box {
    height: 23em;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    padding:1.5em;
    display:$flexDisplay;
    overflow-y: hidden;
    font-family: cursive;

    background: {
        // image: url(../../photos/photo_2019-09-03_21-32-34.jpg);
        size: cover;
    }

    flex: {
        grow: 5;
        direction:column;
    }

    &:hover {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 5px;

        &-track {
            box-shadow: inset 0 0 2px grey; 
        }

        &-thumb {
            background: #002c57; 

            &:hover {
                background: #437caf; 
            } 
        }
    }
}

  
.right-message {
    background-color:#333;
    color:#fff;
    align-self:flex-end;
    box-shadow:1px 1px 2px 2px rgba(0,0,0,.5);
    @extend .message ;


    &>span {
        word-break: break-all;
    }


    &:hover {
        .time {
            opacity: 1;
        }
    }

    &-blur {
        background-color:#333;
        color:#fff;
        align-self:flex-end;
        box-shadow:1px 1px 2px 2px rgba(0,0,0,.5);
        @extend .message ;
        filter: blur(2px);

        &:hover {
            filter: none;

            .time {
                opacity: 1;
            }
        }
    }  
}


.left-message {
    background-color:#fff;
    align-self:flex-start;
    box-shadow:1px 1px 5px 2px rgba(0,0,0,.5);
    @extend .message ;


    &>span {
        word-break: break-all;
    }


    &:hover {
        .time {
            opacity: 1;
        }
    }

    &-blur {
        background-color:#fff;
        align-self:flex-start;
        box-shadow:1px 1px 5px 2px rgba(0,0,0,.5);
        @extend .message ;
        filter: blur(2px);

        &:hover {
            filter: none;

            .time {
                opacity: 1;
            }
        }
    }   
}



//..........................................sender and reciever message.....................................
//..........................................................................................................  


.time {
    font-size: xx-small;
    align-self: flex-end;
    margin-top: 5px;
    opacity: 0;
}




//.................................................message input............................................
//..........................................................................................................  

.send-box {
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.55);
    display: $flexDisplay;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 4vh;
    position: relative;

    textarea {
        flex-grow: 5;
        resize: none;
        border-radius: 15px;
        height: 32px;
        font: 13px "Open Sans", sans-serif;

        padding: {
            left: 15px;
            right: 15px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}


.attach {
    color: #fff;
    cursor: pointer;

    margin: {
        left: 10px;
        right: 10px;
    }
}


.emojiFace {
    position: absolute;
    right: 72px;
    cursor: pointer;
}


.msg_send_btn {
    background: #026594 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px; 
    width: 33px;
    position: relative;

    margin: {
        right: 17px;
        left: 15px;
    }

    border: medium none {
        radius: 50%;
    }

    

    &:hover {
        background: #01528c none repeat scroll 0 0;
    }
}
  
  
.sendIcon {
    position: absolute;
    right: 6px;
    bottom: 7px;
    color: $whiteColor;
    font-size: 1.1em !important;
}

.emoji-picker {
    bottom: 100px;
    right: 39px;
    position: absolute;
}